* {
    margin: 0;
    padding: 0;
}

#change {
    opacity: 0;
}

.home_page {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation-duration: 0.75s;
    animation-name: fadeIn; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.introduction {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 60vh;
    margin: 50px auto;
    background-color: #8596ad;
    border-radius: 25px;
    box-shadow: 5px 5px 5px rgb(63, 56, 56);
    gap: 25px;
}

.header {
    margin: 50% auto;
    height: 100vh;
}

.visible {
    opacity: 1;
    transform: translateX(20px);
    animation: fadeIn 1.5s forwards;
    transition: all 1.5s;
}

.notVisible {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

img {
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgb(236, 224, 224);
}

p {
    margin: 10px 25px;
    padding: 10px;
    border-radius: 10px;
    font-size: 16pt;
}