.showcase {
    transition: all .2s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: space-evenly;

}

.projects {
    display: inherit;
    flex-direction: row;
    gap: 25px;
}