.tabLinks {
    display: flex;
    justify-content: flex-end;
    background-color: #8596ad;
    padding-right: 25px;
    gap: 25px;
}

.tabContents {
    background-color: #8596ad;
}

.navLinks {
    background-color: #8596ad;
}

.tab {
    background-color: #8596ad;
}