.projectContent {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: flex-start;
    background-color: #781a44;

    /* margin: 25px auto; */
    border-radius: 25px;
    padding-left: 25px;
}

.projectText {
    z-index: 1;
}

.projectContent:hover {
    transform: scale(1.01);
    box-shadow: 3px 3px 5px black;
    animation-timing-function: ease;
    transition: all 0.5s;
}