.showcase {
    transition: all .2s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: space-evenly;
    background-color: #bccbde;
    height: 100vh;
}

.projects {
    display: inherit;
    flex-direction: row;
    gap: 25px;
    animation-duration: 1s;
    animation-name: slidein;
    margin: 10px;
    width: 100vw;
    height: 45vh;

}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 45%;
    }
}