.showcase {
    transition: all .2s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: space-evenly;
    background-color: #bccbde;
    height: 100vh;
    margin-left: 1% auto;
}

.projects {
    display: inherit;
    flex-direction: row;
    gap: 10%;
    animation-duration: 1s;
    animation-name: slidein;
    /* margin-left: 10%; */
    height: 45vh;
    padding: 50px;
}

.project {
    width: 25vw;
    height: 35vh;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 10%;
        width: 45%;
    }
}