.showcase {
    transition: all .2s ease-in-out;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
    background-color: #bccbde;
    height: 100vh;
    margin-left: 1% auto;
}

.projects {
    display: inherit;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
    animation-duration: 1s;
    animation-name: slidein;
    margin-left: 5%;
    height: 45vh;
}

.project {
    width: 25vw;
    height: 35vh;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 25%;
    }

    to {
        margin-left: 5%;
        width: 95%;
    }
}